body{
  background-color: #79AE95;
    font-family:Lucida Bright;
}
h1{
  color: white;
}
img{
  scale: 80%;
  
}
p{
  color: white;
  font-size:300%;
}
u1{
  text-align: center;
  list-style: none;
}
li{
  float: left;
}
li a{
  padding: 30px;
  color: white;
}
li a:hover{
  background-color: #5D9279
}
